footer{
  /* background-color: #f2f2f2; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color:'#0B0917';
}


.footer{

  display: flex;
  justify-content: center;
 /* background-color: blue; */
  height: 40vh;
  width: 70%;
  align-items: center;
  padding: 2em;
  flex-wrap: wrap;
 

}
p{
  color:'grey';
  font-size: '13px';
}
h4{
  font-size:'16px';
}


.col{
  
  width: 20%;
  /* background-color: aqua; */
  /* border: 1px solid red; */
  padding: 2em;
  line-height: 1.8;
  font-size: 13px;

  }